Button{
    margin: 5px;
    padding: 3px;
}
p{
    background-color: gold;
}


.bg-blue{
    background-color: aqua;
}
.bg-green
{
    background-color: rgb(45, 237, 46);
}
.bg-red
 {
     background-color: rgba(255, 0, 0, 0.76);
 }